.wrapper {
  width: 750px;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: 150px auto;
  box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.5);
}

.circle {
  width: 200px;
  height: 200px;
  background: url(https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  float: left;
  margin: 50px 30px 30px 0;
  shape-outside: circle();
  box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.5);
}

.title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 48px;
  color: rgb(14, 14, 14);
}

.content {
  color: rgb(108, 106, 106);
  font-weight: 300;
  line-height: 26px;
}
